@{
    ViewData["Title"] = "Szyfrowanie";
}


<div class="mt-3 card py-4 h-100 container">
    <h1>@ViewData["Title"]</h1>
    <div class="mt-3 row">
        <div class="col">
            <form method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="textArea">Tekst Twojej wiadomości:</label>
                    <textarea style="resize:none;" maxlength="1000" name="text" class="form-control" id="text" rows="7" placeholder="Wiadomość do zaszyfrowania..."></textarea>
                    <h6 class="pull-right" id="count_message"></h6>
                </div>

                <div class="form-group">
                    <div class="custom-file">
                        <input name="fileToEncrypt" type="file" class="custom-file-input" id="fileToEncrypt">
                        <label class="custom-file-label" for="fileToEncrypt">Wybierz obraz</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Zaszyfruj</button>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <a class="btn btn-danger" asp-controller="Home" asp-action="Download">Pobierz</a>
        </div>
    </div>
</div>




