@{
    ViewData["Title"] = "Szyfrowanie";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <form method="post" enctype="multipart/form-data" >
                <div class="form-group">
                    <label for="exampleFormControlFile1">Obraz:</label>
                    <input name="pic" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Tekst Twojej wiadomości:</label>
                    <input name="messageText" class="form-control" id="exampleFormControlTextarea1" rows="3" />
                </div>
                <button type="submit" class="btn btn-primary"  >Zaszyfruj</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-danger" asp-controller="Home" asp-action="Download">Pobierz</a>
        </div>
    </div>
</div>


 

