@{
    ViewData["Title"] = "Deszyfrowanie";
}
<h1>@ViewData["Title"]</h1>


<div class="container">
    <div class="row">
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleFormControlFile1">Zaszyfrowany obraz:</label>
                    <input name="encryptedFile" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Oryginalny obraz:</label>
                    <input name="originalFile" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <button type="submit" class="btn btn-primary">Odszyfruj</button>
            </form>
        </div>
    </div>
</div>

<label>@ViewData["decryptedMessage"]</label>
