


<div class="mt-3 card py-4 h-100 container">
    <div class="col">
        <div class="py-4 h-100">
            <div class="card-body text-center">
                <i class="fas fa-times"></i>
                <h4>Błąd</h4>
                <p>Nie znaleźliśmy żadnego pliku do pobrania, najpierw zaszyfruj wiadomość.</p>
                <a class="btn btn-dark mt-4" asp-area="" asp-controller="Home" asp-action="Cipher">Powrót</a>
            </div>
        </div>
    </div>
</div>