<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Projekt Inżynierski</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <!-- Custom fonts for this template -->
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />


</head>

<body style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('../img/bg-photo.jpg');">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Projekt Inżynierski</a>

            <div>
                <ul class="navbar-nav ml-auto">
                    <li>
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Cipher">Zaszyfruj</a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Decipher">Odszyfruj</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>


    <!-- Body -->
    <div class="mt-5 pt-5 container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Footer -->
    <footer class="footer bg-black small text-center text-white-50">
        <div class="container">
            Copyright &copy; Martyna Zielińska, Gracjan Jasiówka - Projekt Inżynierski
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>
